/* Device tree for ICP DAS LP-8x4x */
/dts-v1/;

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include "pxa27x.dtsi"

/ {
	model = "ICP DAS LP-8x4x programmable automation controller";
	compatible = "marvell,lp8x4x", "marvell,pxa270";

	aliases {
		ethernet0 = &eth0;
		ethernet1 = &eth1;
	};

	memory {
		reg = <0xa0000000 0x08000000>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		vmmc: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "vmmc";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};

	pxabus {
		pxairq: interrupt-controller@40d00000 {
			marvell,intc-priority;
			marvell,intc-nr-irqs = <34>;
		};

		uart@40100000 {
			status = "okay";
		};

		uart@40200000 {
			status = "okay";
		};

		uart@40700000 {
			status = "okay";
		};

		mmc@41100000 {
			status = "okay";
			vmmc-supply = <&vmmc>;
		};

		ohci@4c000000 {
			status = "okay";
			marvell,port-mode = <3>;
			marvell,oc-mode-perport;
			marvell,enable-port1;
		};

		leds {
			compatible = "gpio-leds";

			status {
				gpios = <&gpio 84 1>;
				linux,default-trigger = "heartbeat";
			};
		};

		i2c: i2c-gpio {
			compatible = "i2c-gpio";
			gpios = <&gpio 22 0 /* sda */
				 &gpio 12 0 /* scl */>;
			i2c-gpio,delay-us = <1>;
			i2c-gpio,timeout-ms = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			eeprom@50 {
				compatible = "atmel,24c128";
				reg = <0x50>;
				pagesize = <64>;
			};
		};

		w1: w1-gpio {
			compatible = "w1-gpio";
			gpios = <&gpio 83 0>;
		};
	};

	extbus {
		flash@0 {
			compatible = "cfi-flash";
			reg = <0 0 0x02000000>;
			bank-width = <4>;
			device-width = <2>;
			#address-cells = <1>;
			#size-cells = <1>;
			fs@0 {
				label = "u-boot";
				reg = <0 0x40000>;
			};
			fs@40000 {
				label = "settings";
				reg = <0x40000 0x40000>;
			};
			fs@80000 {
				label = "kernel";
				reg = <0x80000 0x280000>;
			};
			fs@300000 {
				label = "root_fs";
				reg = <0x300000 0x1d00000>;
			};
		};

		flash@1 {
			compatible = "cfi-flash";
			reg = <1 0x0 0x01000000>;
			bank-width = <2>;
			device-width = <1>;
		};

		netio@3 {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0 3 0 0x02000000>;
			interrupt-parent = <&gpio>;

			eth0: eth@0 {
				compatible = "davicom,dm9000";
				reg = <0x0 0x2
				       0x4000 0x2>;
				interrupts = <9 IRQ_TYPE_EDGE_RISING>;
				status = "okay";
			};

			eth1: eth@1000000 {
				compatible = "davicom,dm9000";
				reg = <0x1000000 0x2
				       0x1004000 0x2>;
				interrupts = <82 IRQ_TYPE_EDGE_RISING>;
				status = "okay";
			};
		};

		fpga@5 {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0 5 0x3000000 0x10000>;

			rtc@901c {
				compatible = "ds,rtc-ds1302";
				reg = <0x901c 0x1>;
				status = "okay";
			};

			sram@a000 {
				compatible = "icpdas,sram-lp8x4x";
				reg = <0xa000 0x1000
				       0x901e 0x1>;
			};
		};
	};
};
